*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

#directionBlock {
  display: flex;
  margin-top: 10px;
}

#directionBlock span {
  display: block;
  cursor: pointer;
  padding: 10px 0;
  width: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  text-align: center;
  width: 25%;
}

#directionBlock span:last-child {
  margin-right: 0;
}

#directionBlock .active {
  border: 1px solid #86c6f5;
  color: #86c6f5;
}

#canvas {
  background: #eee;
  width: 100%;
}

.action_block {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.action_block .submit {
  margin: 15px 0 -15px 0;
}

.form_block {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
  background: #fff;
}

.form_row {
  margin-bottom: 10px;
}

.form_row p {
  margin: 0 0 10px 0;
}

.join_row {
  display: flex;
  justify-content: space-between;
}

.join_row div:first-child {
  width: 50%;
}

.join_row div:last {
  width: 50%;
}

#join_line_butt {
  position: absolute;
  top: -20px;
  width: 90%;
  margin: auto;
  left: 0;
  right: 0;
  cursor: pointer;
}

.display_none {
  display: none;
}

.empty_title {
  padding: 10px;
  text-align: center;
  margin: 20px;
  color: #b8b7b7;
  font-size: 19px;
}

.point_elems_block .item-input {
  width: 100%
}

.point_elems_block .item-inner {
  padding-top: 0;
  padding-bottom: 0;
}

.directions_block {
  margin: 5px 0 10px 0;
}

.directions_block .button {
  border: 1px solid;
}

.point_elems_block ul::before {
  background: none;
}

.point_elems_block ul::after {
  background: none;
}

.error_title {
  color: red !important;
}

