*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

#directionBlock {
  display: flex;
  margin-top: 10px;
}

#directionBlock span {
  display: block;
  cursor: pointer;
  padding: 10px 0;
  width: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  text-align: center;
  width: 25%;
}

#directionBlock span:last-child {
  margin-right: 0;
}

#directionBlock .active {
  border: 1px solid #86c6f5;
  color: #86c6f5;
}

#canvas {
  background: #eee;
  width: 100%;
}

.action_block {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.action_block .submit {
  margin: 15px 0 -15px 0;
}

.form_block {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
  background: #fff;
}

.form_row {
  margin-bottom: 10px;
}

.form_row p {
  margin: 0 0 10px 0;
}

.join_row {
  display: flex;
  justify-content: space-between;
}

.join_row div:first-child {
  width: 50%;
}

.join_row div:last {
  width: 50%;
}

#join_line_butt {
  position: absolute;
  top: -20px;
  width: 90%;
  margin: auto;
  left: 0;
  right: 0;
  cursor: pointer;
}

.display_none {
  display: none;
}

.empty_title {
  padding: 10px;
  text-align: center;
  margin: 20px;
  color: #b8b7b7;
  font-size: 19px;
}

.point_elems_block {
  padding: 0;
  background: var(--f7-input-item-bg-color);
}

.point_elems_block .item-input {
  width: 100%;
  margin-left: 0 !important;
}

.direction_block {
  padding-bottom: 0;
  margin-bottom: -10px;
}

.direction_block::after {
  background: none !important;
}

.point_elems_block .item-inner {
  padding-top: 0;
  padding-bottom: 0;
}

.directions_block {
  margin: 5px 0 10px 0;
}

.directions_block .button {
  border: 1px solid;
}

.point_elems_block ul::before {
  background: none;
}

.point_elems_block ul::after {
  background: none;
}

.error_title {
  color: red !important;
}

.room_add_details_butt > a {
  width: 50px !important;
  height: 50px !important;
}

.list_elems_block {
  margin: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.bg_gray_light {
  background: #eee !important;
}

.gray_header {
  background: #eeee;
}

.card_button {
  color: #fff;
  justify-content: center;
}

.font_14 {
  font-size: 14px;
}

.success_toast {
  background: #37c437;
}

.failed_toast {
  background: #e83737;
}

.popover li {
  border: 1px solid #ddd;
}

.popover li:last-child {
  border: none;
}

.text_color_red {
  color: red !important;
}

/*.accordion-item-content ul {
  background: #eee;
}*/

.list_elems_block ul {
  background: #fff;
}

.page-content {
  padding-bottom: 50px;
}

.dialog_input {
  border: 1px solid #ddd !important;
  padding: 10px !important;
  margin-top: 10px !important;
  border-radius: 5px !important;
  width: 230px !important;
}

.border_color {
  border-color: red;
}

.main_toolbar {
  z-index: 9999;
}

.demo-list-icon, .icon-f7, .icon-vi {
  width: 24px;
  height: 24px;
  border-radius: 4px;
}