<%= form_tag('/parsings/launch.xlsx', class: 'form_block bg-white p-[30px] w-[500px] m-auto mt-[55px] rounded-[10px] w-[500px]') do %>
    <h2 class='text-center font-semibold mb-[20px]'>Выгрузка данных с источника <%= link_to 'Galacentre', 'https://www.galacentre.ru/', target: 'blank', class: 'text-blue-900' %></h2>

    <p class='text-[#747474]'>1.Выберите шаблон: *</p>
    <%= select_tag 'temp', options_for_select(@templates), class: 'cat_temp w-[100%] mt-[7px] mb-[20px] p-[10px] bg-[#eee] rounded-[5px]', include_blank: true, required: true %>

    <p class='text-[#747474]'>2. Список штрих-кодов: *</p>
    <span class='block text-[#535353] text-[11px]'>Через пробел или построчно</span>
    <%= text_area 'list_barcodes', nil, class: 'list_barcodes text-[12px]  mb-[20px] mt-[7px] bg-[#eee] w-[100%] h-[200px] rounded-[5px] p-[10px]', required: true %>

 <!--    <p class='text-[#747474]'>3. Email-адреса, куда нужно отправить готовые файлы: *</p>
    <span class='block text-[#535353] text-[11px]'>Через пробел или построчно</span>
    <%#= text_area nil, nil, class: 'list_emails mb-[20px] mt-[7px] bg-[#eee] w-[100%] h-[70px] rounded-[5px] p-[10px]' %>
 -->
    <button type='submit' class='apply_butt w-[100%] bg-[#4dbb4d] hover:bg-[#409f40] rounded-[5px] text-center text-white p-[15px]'>Запустить</button>
<% end %>