<div class="body">
  

<div class="breadcrumbs">
  <div class="container">
    
  </div>
</div>

  

<div id="content" class="content">
  


<div class="mainhero">
  <div class="container hero-container">
    <p class="mainsummary">Биткойн - это инновационная сеть платежей и новый вид денег.</p>
    <div class="btn-container">
      <a class="btn btn-bright btn-home" href="/ru/getting-started">Начало работы с Биткойном</a>
      <a class="btn btn-light btn-home" href="/ru/choose-your-wallet">Выберите свой кошелек</a>
      <a class="btn btn-light btn-home" href="/ru/buy">Buy Bitcoin</a>
    </div>

    <div class="mainvideo">
      <button class="mainvideo-btn-open" onclick="loadYoutubeVideo(event);" ontouchstart="loadYoutubeVideo(event);" data-youtubeurl="//www.youtube.com/embed/Gc2en3nHxA4?rel=0&amp;showinfo=0&amp;wmode=opaque&amp;autoplay=1&amp;cc_load_policy=1&amp;hl=ru&amp;cc_lang_pref=ru">Что такое Биткойн?</button>
    </div>

  </div>
</div>
<div class="mainoverview">
  <div class="container">
    <div class="mainoverview-title">Или получите краткий обзор здесь</div>
    <a href="/ru/bitcoin-for-individuals" class="maincard">
      <img class="maincard-img" src="/img/icons/ico_individuals.svg?1664356125" alt="Icon">
      <div>
        <p class="maincard-title">Частным лицам</p>
        <p class="maincard-link">Learn more</p>
      </div>
    </a>
    <a href="/ru/bitcoin-for-businesses" class="maincard">
      <img class="maincard-img" src="/img/icons/ico_business.svg?1664356125" alt="Icon">
      <div>
        <p class="maincard-title">Бизнесу</p>
        <p class="maincard-link">Learn more</p>
      </div>
    </a>
    <a href="https://developer.bitcoin.org/" class="maincard">
      <img class="maincard-img" src="/img/icons/ico_developers.svg?1664356125" alt="Icon">
      <div>
        <p class="maincard-title">Разработчикам</p>
        <p class="maincard-link">Learn more</p>
      </div>
    </a>
  </div>
  <a class="btn-down" href="#maindesc-title">
    <img src="/img/icons/ico_arrow_down.svg?1664356125" alt="Link">
  </a>
</div>
<div class="maindesc">
  <div class="container">
    <p class="section-title center home-title" id="maindesc-title">Начало работы с Биткойном</p>
    <div class="row maindesc-row">
      <div>
        <p class="maindesc-text">Используя P2P технологию, Биткойн функционирует без какого-либо контролирующего органа или центрального банка; обработка транзакций и эмиссия осуществляются коллективно участниками сети. <b>Биткойн имеет открытый исходный код; его архитектура известна всему миру, никто не владеет и не контролирует Биткойн, но <a href="/ru/support-bitcoin">все могут стать участниками сети</a></b>. Благодаря своим уникальным свойствам, Биткойн открывает новые горизонты возможностей, которые не предоставляла до этого ни одна платежная система.</p>
        <ul class="mainlist">
          
            <li class="mainlist-item">
              <img src="/img/icons/main_ico_instant.svg?1664356125" alt="Icon">
              <p>Быстрые P2P<br>транзакции</p>
            </li>
          
          
            <li class="mainlist-item">
              <img src="/img/icons/main_ico_worldwide.svg?1664356125" alt="Icon">
              <p>Международные<br>платежи</p>
            </li>
          
          
            <li class="mainlist-item">
              <img src="/img/icons/main_ico_lowfee.svg?1664356125" alt="Icon">
              <p>Низкие<br>комиссии</p>
            </li>
          
        </ul>
      </div>
      <img class="maindesc-img" src="/img/home/bitcoin-img.svg?1664356125" alt="Bitcoin image">
    </div>
    <div class="btn-container">
      <a class="btn btn-dark btn-home center" href="/ru/getting-started">Начало работы с Биткойном</a>
    </div>
  </div>
</div>

<!-- Youtube popup video -->
<div class="modal closed">
  <iframe class="modal-video" allowfullscreen="" frameborder="0">
  </iframe>
  <button class="mainvideo-btn-close" onclick="loadYoutubeVideo(event);" ontouchstart="loadYoutubeVideo(event);"></button>
</div>
<div class="modal-overlay closed">
</div>


</div>

  <div class="footer">
    <div class="container">
       

<a class="logo-footer" href="/ru/">
  <img src="/img/icons/logo-footer.svg?1664356125" alt="Bitcoin">
</a> 
       

<div class="row footer-row">
  <div class="donate">
    <div class="row donate-row">
      <div>
        <span class="footer-title">Support Bitcoin.org:</span>
        <a onclick="openDonationModal()" class="donate-btn btn-bright">Donate</a>
        <p class="donate-text">
          <a class="donate-link" href="bitcoin:3E8ociqZa9mZUSwGdSmAEMAoAxBK3FNDcd" target="_blank">3E8ociqZa9mZUSwGdSmAEMAoAxBK3FNDcd</a>
        </p>
      </div>
    </div>
  </div>

  <div class="row footermenu">
    <div class="footermenu-item footermenu-introduction">
      <p class="footer-title">Введение:</p>
      <ul class="footermenu-list">
        <li>
          <a href="/ru/bitcoin-for-individuals">Частным лицам</a>
        </li>
        <li>
          <a href="/ru/bitcoin-for-businesses">Бизнесу</a>
        </li>
        <li>
          <a href="https://developer.bitcoin.org/">Разработчикам</a>
        </li>
        <li>
          <a href="/ru/getting-started">Начало работы</a>
        </li>
        <li>
          <a href="/ru/how-it-works">Как это работает</a>
        </li>
        <li>
          <a href="/ru/you-need-to-know">Вам нужно знать</a>
        </li>
        
        <li>
          <a href="/ru/bitcoin-paper">White paper</a>
        </li>
        
      </ul>
    </div>
    
    <div class="footermenu-item footermenu-resources">
      <p class="footer-title">Ресурсы:</p>
      <ul class="footermenu-list">
        <li>
          <a href="/ru/resources">Ресурсы</a>
        </li><li>
          <a href="/ru/exchanges">Обменники (Биржи)</a>
        </li>
        <li>
          <a href="/ru/community">Сообщество</a>
        </li>
        <li>
          <a href="/ru/vocabulary">Термины
          </a>
        </li>
        <li>
          <a href="/ru/events">События</a>
        </li>
        
          <li>
            <a href="/ru/download">Bitcoin Core</a>
        </li>
        
      </ul>
    </div>
    
    <div class="footermenu-item footermenu-participate">
      <p class="footer-title">Участвовать:</p>
      <ul class="footermenu-list">
        <li>
          <a href="/ru/support-bitcoin">Поддержать Биткойн</a>
        
        
        </li><li>
          <a href="/ru/development">Разработка</a>
        </li>
      </ul>
    </div>
    <div class="footermenu-item footermenu-other">
      <p class="footer-title">Other:</p>
      
      <a href="/ru/legal">Юридическое</a>
      
      <a href="/en/privacy">Privacy Policy</a>
      
      <a href="/ru/press">Пресса</a>
      <a href="/ru/about-us">О bitcoin.org</a>
      <a href="/en/blog">Blog</a>
    </div>
  </div>
</div>
 
       

<div class="footersponsor">
  <!--<div><span>Веб-сайт сообщества спонсируется</span> <a href="https://bitcoinfoundation.org/"><img src="/img/brand/bitcoinfoundation.png?1664356125" alt="Bitcoin Foundation"></a></div>-->
</div>

    </div>
    

<div class="footer-bottom">
  <div class="container">
    <div class="row footer-bottom-row">
      <div class="footerlicense">© Bitcoin Project 2009-2022 ПО распространяется под лицензией <a href="http://opensource.org/licenses/mit-license.php" target="_blank">MIT</a></div>
      <div class="row footer-status-block">
        <a href="/en/alerts" class="statusmenu">Network Status</a>
        
<ul class="lang is-expand">
  <li><a>Русский</a>
  <ul>
    <li><ul>
      
      
        
          <li><a href="/id/">Bahasa Indonesia</a></li>
        
        
          <li><a href="/ca/">Català</a></li>
        
        
          <li><a href="/da/">Dansk</a></li>
        
        
          <li><a href="/de/">Deutsch</a></li>
        
        
          <li><a href="/en/">English</a></li>
        
        
          <li><a href="/es/">Español</a></li>
        
        
          <li><a href="/fr/">Français</a></li>
        
        
          <li><a href="/it/">Italiano</a></li>
        
        
          <li><a href="/hu/">Magyar</a></li>
        
        
          <li><a href="/nl/">Nederlands</a></li>
        
        
          <li><a href="/pl/">Polski</a></li>
        
        
          <li><a href="/pt_BR/">Português Brasil</a></li>
        
        
          <li><a href="/ro/">Română</a></li>
        
        
          <li><a href="/sl/">Slovenščina</a></li>
        
        
          <li><a href="/sr/">Srpski</a></li>
        
        
          <li><a href="/sv/">Svenska</a></li>
        
        </ul></li><li><ul>
          <li><a href="/tr/">Türkçe</a></li>
        
        
          <li><a href="/el/">Ελληνικά</a></li>
        
        
          <li><a href="/bg/">български</a></li>
        
        
          <li><a href="/ru/" class="active">Русский</a></li>
        
        
          <li><a href="/uk/">Українська</a></li>
        
        
          <li><a href="/hy/">Հայերեն</a></li>
        
        
          <li><a href="/ar/">العربية</a></li>
        
        
          <li><a href="/fa/">فارسی</a></li>
        
        
          <li><a href="/he/">עברית</a></li>
        
        
          <li><a href="/hi/">हिन्दी</a></li>
        
        
          <li><a href="/ko/">한국어</a></li>
        
        
          <li><a href="/ja/">日本語</a></li>
        
        
          <li><a href="/zh_CN/">简体中文</a></li>
        
        
          <li><a href="/zh_TW/">繁體中文</a></li>
        
      </ul></li>
    </ul>
  </li>
</ul>
 
        <div id="footer-langselect" class="footer-langselect langselect">
          <label for="select-input-footer" class="center-select">
            <select class="center-select__input" onchange="window.location=this.value; ">
              
              <option value="/id/">Bahasa Indonesia</option>
              
              <option value="/ca/">Català</option>
              
              <option value="/da/">Dansk</option>
              
              <option value="/de/">Deutsch</option>
              
              <option value="/en/">English</option>
              
              <option value="/es/">Español</option>
              
              <option value="/fr/">Français</option>
              
              <option value="/it/">Italiano</option>
              
              <option value="/hu/">Magyar</option>
              
              <option value="/nl/">Nederlands</option>
              
              <option value="/pl/">Polski</option>
              
              <option value="/pt_BR/">Português Brasil</option>
              
              <option value="/ro/">Română</option>
              
              <option value="/sl/">Slovenščina</option>
              
              <option value="/sr/">Srpski</option>
              
              <option value="/sv/">Svenska</option>
              
              <option value="/tr/">Türkçe</option>
              
              <option value="/el/">Ελληνικά</option>
              
              <option value="/bg/">български</option>
              
              <option value="/ru/" selected="selected">Русский</option>
              
              <option value="/uk/">Українська</option>
              
              <option value="/hy/">Հայերեն</option>
              
              <option value="/ar/">العربية</option>
              
              <option value="/fa/">فارسی</option>
              
              <option value="/he/">עברית</option>
              
              <option value="/hi/">हिन्दी</option>
              
              <option value="/ko/">한국어</option>
              
              <option value="/ja/">日本語</option>
              
              <option value="/zh_CN/">简体中文</option>
              
              <option value="/zh_TW/">繁體中文</option>
              
            </select>
            <span class="center-select__text">ru</span>
          </label>
        </div>
      </div>
<!--      <div class="row">  -->
        
<!--    </div> -->
    </div>
  </div>
</div>

  </div>
</div>